[PYTHON_PACKAGE] PyJWT

name: ansys-internal/root2
- Scan Type: SCA
- Package: PyJWT:2.9.0
- Ecosystem: PYTHON_PACKAGE
- Scan date: 2026-08-19
- Mend URL: https://app.whitesourcesoftware.com/Wss/WSS.html#!project;id=9342408

Description:
PyJWT is a JSON Web Token implementation in Python. Prior to 2.12.0, PyJWT does not validate the crit (Critical) Header Parameter defined in RFC 7515 §4.1.11. When a JWS token contains a crit array listing extensions that PyJWT does not understand, the library accepts the token instead of rejecting it. This violates the MUST requirement in the RFC. This vulnerability is fixed in 2.12.0.

Vulnerabilities:
| Filename | Severity | Vulnerability Id | CVSS 3 Score | Top Fix | CVE Link |
|---|---|---|---:|---|---|
| PyJWT-2.9.0-py3-none-any.whl | HIGH | CVE-2026-32597 | 7.5 | Upgrade to version pyjwt - 2.12.0,pyjwt - 2.12.0 | [Open](https://app.whitesourcesoftware.com/Wss/WSS.html#!libraryDetails;uuid=5cb342c0-58cb-4bc7-a158-9571c7e9bca6;project=9342408;orgToken=f7e58bb2-72d9-4185-a886-8e9a152d99c6) |
| PyJWT-2.9.0-py3-none-any.whl | HIGH | CVE-2026-48526 | 7.4 | Upgrade to version pyjwt - 2.13.0,pyjwt - 2.13.0 | [Open](https://app.whitesourcesoftware.com/Wss/WSS.html#!libraryDetails;uuid=5cb342c0-58cb-4bc7-a158-9571c7e9bca6;project=9342408;orgToken=f7e58bb2-72d9-4185-a886-8e9a152d99c6) |
| PyJWT-2.9.0-py3-none-any.whl | MEDIUM | CVE-2026-48525 | 5.3 | Upgrade to version pyjwt - 2.13.0,pyjwt - 2.13.0 | [Open](https://app.whitesourcesoftware.com/Wss/WSS.html#!libraryDetails;uuid=5cb342c0-58cb-4bc7-a158-9571c7e9bca6;project=9342408;orgToken=f7e58bb2-72d9-4185-a886-8e9a152d99c6) |
| PyJWT-2.9.0-py3-none-any.whl | MEDIUM | CVE-2026-48523 | 5.4 | Upgrade to version pyjwt - 2.13.0,pyjwt - 2.13.0 | [Open](https://app.whitesourcesoftware.com/Wss/WSS.html#!libraryDetails;uuid=5cb342c0-58cb-4bc7-a158-9571c7e9bca6;project=9342408;orgToken=f7e58bb2-72d9-4185-a886-8e9a152d99c6) |
| PyJWT-2.9.0-py3-none-any.whl | MEDIUM | CVE-2026-48522 | 4.2 | Upgrade to version pyjwt - 2.13.0,pyjwt - 2.13.0 | [Open](https://app.whitesourcesoftware.com/Wss/WSS.html#!libraryDetails;uuid=5cb342c0-58cb-4bc7-a158-9571c7e9bca6;project=9342408;orgToken=f7e58bb2-72d9-4185-a886-8e9a152d99c6) |
| PyJWT-2.9.0-py3-none-any.whl | LOW | CVE-2026-48524 | 3.7 | Upgrade to version pyjwt - 2.13.0,pyjwt - 2.13.0 | [Open](https://app.whitesourcesoftware.com/Wss/WSS.html#!libraryDetails;uuid=5cb342c0-58cb-4bc7-a158-9571c7e9bca6;project=9342408;orgToken=f7e58bb2-72d9-4185-a886-8e9a152d99c6) |

Dependency files:
/tmp/tmp.OPZSUtjLKq/third_party/conan/v1/requirements_linux.txt
/tmp/tmp.OPZSUtjLKq/third_party/conan/v1/requirements_macos.txt
/tmp/tmp.OPZSUtjLKq/third_party/conan/v1/requirements_windows.txt
